.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  font-family: 'Roboto', sans-serif;
  color: #454545;
}

#wrapper {
  display: flex;
  width: 50vw;
  margin: auto;
}

#nav, #list {
  margin: 0;
  padding: 0;
}

#nav li, #list li {
  list-style-type: none;
  margin: 1vw 0;
}

#nav {
  width: 5%;
  text-align: center;
  position: fixed;
  left: 18vw;
  top: -1px;
  border: 1px solid #a2aac5;
  border-radius: 0 0 0.5vw 0.5vw;
  font-family: 'Exo 2', sans-serif;
}

#list {
  padding-left: 1vw;
  width: 100%;
}

#list li {
  display: flex;
}

#list li div.item-date{
  width: 15%;
  font-family: 'Exo 2', sans-serif;
}

#list li div.item-detail{
  width: 85%;
  font-size: 0.9rem;
  line-height: 2vw;
  border: 1px solid #efefef;
  border-radius: 0.5vw;
}

#list li.out-dated-item div.item-detail {
  background-color: rgba(239, 239, 239, 0.5);
}

#list li.today-item div.item-detail {
  background-color: rgba(255, 221, 156, 0.5);
  border: 1px solid rgba(255, 221, 156, 0.5);
}

#list li .item-detail span.detail-name {
  margin: 0.5vw;
  color: #2b2b2b;
  padding: 0.05vw 1vw;
  display: inline-block;
  border-radius: 0.3vw;
  box-shadow: 1px 1px 1px #d8d8d8;
}

#list li .item-detail span.detail-name {
  position: relative;
}

#list li .item-detail span.detail-name:hover {
  cursor: pointer;
}

#list li .item-detail span.detail-name .like-button {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  left: 0;
  background-color: rgba(239,239,239,0.8);
  color: rgb(255, 120, 0);
}

#list li .item-detail span.detail-location {
  margin-left: 0.5vw;
  font-family: 'Exo 2', sans-serif;
}

#list li .item-detail span.detail-location .fa-map-marker-alt {
  margin-right: 0.3vw;
  transform: scale(0.8);
}

#nav li:hover {
  cursor: pointer;
}

#float-calendar {
  position: fixed;
  right: 5vw;
}

.calendar-month li {
  list-style-type: none;
  border: 1px solid #efefef;
  float: left;
  margin: 1px;
  width: 2vw;
  height: 2vw;
  text-align: center;
  line-height: 2vw;
}
.calendar-month li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.calendar-month li a:hover {
  color: rgb(113, 131, 187);
}
.calendar-month li a.bggrey {
  background-color: rgba(239, 239, 239, 0.5);
}
.calendar-month li a.bgactive {
  background-color: rgba(255, 221, 156, 0.5);
}
.calendar-month li.week-end {
  clear: left;
}
